{% extends "base.html" %}
{% load columns %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hunts/style.css' %}">

{% block title %}Hunt {{hunt.0.huntname}} Big Board{% endblock %}
{% block content %}
    <h1>{{hunt.0.huntname}} Big Board</h1>
    
<table class="hunt-round-table" columns=3>
{% for prow in puzzles|columns:3 %}

    <tr>
    {% for puzzlist in prow %}
    <td style="vertical-align:top;">
    <table class="round-table">
    {% for row in puzzlist|columns:2 %}
     <tr>
        {% for p in row %}        
        <td><a href="{% url 'puzzle:puzzle' p.puzzid %}" title="{{p.puzzname}}">
        <div class="{% if p.isMeta == 1 %}puzzle-meta-board{% else %}puzzle-board{% endif %} color{{p.roundid|modulo:10}}">
        <table class="puzzle-table columns=3">
        <tr><td colspan=2 class="puzzle-name">{{ p.puzzname }}</td><td class="round-name">{{p.roundname}}{% if p.isMeta == 1 %} META{% endif %}</td></tr>
        <tr><td colspan=3 class="puzzle-answer"><b>{{ p.answer|default_if_none:"???" }}</b></tr>
        </table>
        </div>
        </a></td>
        {% endfor %}
     </tr>
    {% endfor %}    
    </td>
    </table>
    {% endfor %}
    </tr>
 </table>
{% endfor %}
{% endblock %}



 
